[submodule "ExternalDependencies/submodules/v8convert"]
	path = ExternalDependencies/submodules/v8convert
	url = git@github.com:ColdenCullen/V8-Convert.git
[submodule "ExternalDependencies/submodules/v8"]
	path = ExternalDependencies/submodules/v8
	url = git@github.com:ColdenCullen/v8.git
[submodule "Documentation"]
	path = Documentation
	url = git@github.com:ColdenCullen/Project-192.git
[submodule "ExternalDependencies/submodules/hlslcc"]
	path = ExternalDependencies/submodules/hlslcc
	url = git@github.com:James-Jones/HLSLCrossCompiler.git
