@charset 'UTF-8';

@font-face {
  font-family: 'Track';
  src: url('../fonts/Track.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

body {
  background: #162B3F;
}

#game-title {
  font-family: 'Track', sans-serif;
  color: #f1c40f;
  font-size: 4em;

  opacity: 0;
  -webkit-transform: translateY(-20px);
  transition: 0.5s all;
  transition-delay: 0.5s;
}

.loaded #game-title {
  -webkit-transform: translateY(0);
  opacity: 1;
}

#wrapper {
  width: 800px;
  margin: 0 auto;
  display: block;
  text-align: center;
}

#start-button {
  display: inline-block;
  width: 50%;
  font-size: 0;
  transition: 0.4s font-size;
  transition-delay: 1.0s;
}

.loaded #start-button {
  font-size: 1.25em;
}

#start-game {
  border-radius: 100%;
  width: 4.5em;
  height: 4.5em;
  line-height: 4.5em;
  text-align: center;
  padding: 0;
  position: relative;
  display: inline-block;
  background: #e74c3c;
  color: #fff;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  outline: 0;
  transition: 0.1s background;
}

#start-game:hover {
  background: #E66E61;
}

.loaded #start-game {
  font-size: 2.25em;
}

#nav
{
  float: left;
  display: inline-block;
  width: 50%;
  opacity: 0;
  -webkit-transform: translateY(-20px);
  transition: 0.4s all;
  transition-delay: 0.7s;
}

.loaded #nav {
  -webkit-transform: translateY(0);
  opacity: 1;
}

#nav a
{
  font-family: 'Track', sans-serif;
  position: relative;
  display: block;
  color: #fff;
  width: 200px;
  margin: 0 auto 0.5em auto;
  font-size: 2em;
  text-decoration: none;
  transition: 0.1s color;
}

#nav a:hover {
  color: #3498db;
}