@charset 'UTF-8';

@font-face {
  font-family: 'Track';
  src: url('../fonts/Track.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

body {
  background: #162B3F;
}

h1 {
  font-family: 'Track', sans-serif;
  color: #f1c40f;
  font-size: 3em;
}

#wrapper {
  width: 800px;
  margin: 0 auto;
  display: block;
  text-align: center;
}

#start-game {
  border-radius: 100%;
  width: 4.5em;
  height: 4.5em;
  line-height: 4.5em;
  text-align: center;
  font-size: 2.25em;
  padding: 0;
  position: relative;
  display: inline-block;
  background: #e74c3c;
  color: #fff;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  outline: 0;
}

#start-game:hover {
color: #fff;
background: #E66E61;
}

#nav
{
}

#nav a
{
  font-family: 'Track', sans-serif;
  position: relative;
  display: block;
  color: #fff;
  margin-bottom: 0.5em;
  font-size: 2em;
  text-decoration: none;
}

#nav a:hover {
  color: #3498db;
}