@charset 'UTF-8';

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/SourceSansPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Track';
  src: url('../fonts/Track.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;

  /* This hides the highlighting on double click */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background: #162B3F;
/*background: transparent;*/
  color: white;
  font-family: 'Source Sans Pro', 'Track', sans-serif;
}

#game-title {
  color: #f1c40f;
  font-size: 9em;
  line-height: 0.8;
  text-align: center;
  margin: 0;

  opacity: 0;
  -webkit-transform: translateY(-20px);
  transition: 0.5s all;
  transition-delay: 0.5s;
}
/* poop */
#sub-title {
  color: #f1c40f;
  font-size: 4em;
  text-align: center;
  margin: 0 0 0.3em 0;

  opacity: 0;
  -webkit-transform: translateY(-20px);
  transition: 0.5s all;
  transition-delay: 0.6s;
}

.loaded .active #game-title,
.loaded .active #sub-title {
  -webkit-transform: translateY(0);
  opacity: 1;
}

#wrapper {
  width: 800px;
  margin: 0 auto;
  display: block;
  text-align: center;
}

#start-button {
  display: inline-block;
  width: 50%;
  font-size: 0;
  transition: 0.4s font-size;
  transition-delay: 1.0s;
}

.loaded #start-button {
  font-size: 1.25em;
}

#start-game {
  border-radius: 100%;
  width: 4.5em;
  height: 4.5em;
  line-height: 4.5em;
  text-align: center;
  padding: 0;
  position: relative;
  display: inline-block;
  background: #000;
  color: #fff;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  outline: 0;
  transition: 0.4s background;
}

#start-game:hover {
  background: #3498db;
}

.loaded #start-game {
  font-size: 3em;
}

#nav {
  display: block;
  width: 100%;
  margin-bottom: 1em;
  opacity: 0;
  -webkit-transform: translateY(-20px);
  transition: 0.4s all;
  transition-delay: 0.7s;
}

.loaded #nav {
  -webkit-transform: translateY(0);
  opacity: 1;
}

#nav a {
  position: relative;
  display: inline-block;
  color: #fff;
  width: 200px;
  cursor: pointer;
  margin: 0 auto 0.5em auto;
  font-size: 2em;
  text-decoration: none;
  transition: 0.1s color;
}

#nav a:hover {
  color: #3498db;
}

/*********************************************************************************/
/* Credits                                                                       */
/*********************************************************************************/

.developer {
  box-sizing: border-box;
  display: inline-block;
  width: 24.8%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.developer .photo {
  display: block;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}

/*********************************************************************************/
/* Sections                                                                      */
/*********************************************************************************/

section {
  display: none;
}

.active {
  display: block;
}